.page {
    color: #757575;
    background-color: #FFFFFF;
}

ul{
    list-style: none;
}

/* Logo */
.logo{
    color: #000000;
}

.logo:hover,
.logo:focus{
    color: #2196F3;
}

/* site-nav */
.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.site-nav .link.current{
    color: #2196F3
}

.link.secondary{
    color: #757575;
}

.link.secondary:hover,
.link.secondary:focus{
    color: #2196F3;
}

/* Hero */
.hero{
    background-color: #2F303A;
}

.hero-title{
    color: #FFFFFF;
}

.button{
    color: #FFFFFF;
    background-color: #2196F3;
}

/* Section-title */
.section-title{
    color: #212121;
}

.section-team{
    background-color: #F5F4FA;
}

.description-title{
    color: #212121;
}

/* Footer */
.footer{
    background-color: #2F303A;
}

.foot-link:hover,
.foot-link:focus{
    color: #2196F3;
}

.foot-link.primary{
    color: #FFFFFF;
}

.foot-link.secondary{
    color: rgba(255, 255, 255, 0.6);
}
/* Portfolio */

.button {
    color: #212121;
    background-color: #F5F4FA;
}

/* колір основного тексту #757575 /*
/* чорний #212121, Студія #000000/*
/* білий background: #FFFFFF /*
/* синій background: #2196F3 /*
/* фон мейн #2F303A /*
/* фон боди #F5F5F5 /*
/* фон команди #F5F4FA /*
/* footer #2F303A /*