.page {
    color: #757575;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    letter-spacing: 0.03em;
}

ul{
    list-style: none;
}

/* Logo */
.logo{
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2196F3;
}

.logo:hover,
.logo:focus{
    color: #2196F3;
}

.logo-header{
    color: #000000;
}

.logo-footer {
    color: #FFFFFF;
}

/* site-nav */
.site-nav .link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.site-nav .link.current{
    color: #2196F3
}

.link.secondary{
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link.secondary:hover,
.link.secondary:focus{
    color: #2196F3;
}

/* Hero */
.hero{
    background-color: #2F303A;
}

.hero-title{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.button{
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.06em;
}

/* Section-title */
.section-title{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.advantages{
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-team{
    background-color: #F5F4FA;
}

.description-title{
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.description-features{
    font-size: 14px;
    line-height: 1.71;
}

.name{
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.position{
    font-size: 16px;
    line-height: 1.19;
}

/* Footer */
.footer{
    background-color: #2F303A;
}

.foot-link:hover,
.foot-link:focus{
    color: #2196F3;
}

.foot-link.primary{
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.foot-link.secondary{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
/* Portfolio */

.filter .button {
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.work-list .description-title{
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}

.work-list .description{
    font-size: 16px;
    line-height: 1.8;
}

/* колір основного тексту #757575 /*
/* чорний #212121, Студія #000000/*
/* білий background: #FFFFFF /*
/* синій background: #2196F3 /*
/* фон мейн #2F303A /*
/* фон боди #F5F5F5 /*
/* фон команди #F5F4FA /*
/* footer #2F303A /*